.avatarImg{
    height: 150px;
    width:150px
}
.textMiddle{
    margin:6% 0;
}
.online{
    background: rgb(14, 168, 14);
    /* border: 1px solid greenyellow; */
    border-radius: 100px;
    height: 17px;
    width: 17px;
    margin-left: 10px;
    margin-top: 7%;
}

/* code */
.mainAvatarCard{
    position: absolute;
    width: 100%; 
    height: 200px;
  
}



/*
*  position: relative gives a new position context
*/
.wrapper {
    position: relative;
  }
  
  /*
  *  The .navi properties are for styling only
  *  These properties can be changed or removed
  */
  .navi {
    background-color: #eaeaea;
    height: 200px;
  }
  
  
  /*
  *  Position the #infoi element in the top-right
  *  of the .wrapper element
  */
  .infoi{ 
    position: absolute;
    top: -80%;
    left: 5%;
    /* background-color: #eaeaea; */
    /*
    *  Styling only, the below can be changed or removed
    *  depending on your use case
    */
    /* height: 200px; */
    width:80%;
    /* padding: 10px 10px; */
  }