.tumbnail{
    width:100px;
    height: 100px;
    border-radius: 100px;
}
.heartButton{
   
    border-radius: 25px;
    background-color: white;
    outline-color: gray;
    border: 1px solid grey;
    
    padding: 5px 20px;

}
.icon{
    height: 19px;
    width:19px;
    margin:0px  5px;
   color:red;
}